#contenedorPalabrasError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
}

#textoError403{
    font-size: 120px;
    color: #953A3A;
}

#textoPermisoDenegado{
    font-size: 60px;
    color: #953A3A;
}